.nav-link{
    color:black !important;
}
.nav-item{
    margin-right: 30px;
}
.navbar-nav {
    margin-left: auto !important;
}
#search{
    padding: 9px;
    width: 300px;
    background-color: #F8F7F5;
    border-style: none;
}
.search-row{
    text-align: center;
}
.search-btn{
    padding: 8px!important;
    margin-left: -4px !important;
    margin-top: -4px !important;
    border-bottom-left-radius: 0% !important;
    border-top-left-radius: 0% !important;
}
.meals-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 10px;
}

.meals-item img{
    height: 250px;
    width:250px;
    border-radius: 4px;
}
.meals-item img:hover{
cursor: pointer;
}

#meal-details img{
     height: 220px;
     width:370px;
     border-radius: 5px;
}
#meal-details ul li{
    list-style: none;
}
#meal-details{
    margin-right: auto;
    margin-left: auto;
    width:27%;
}



@media(max-width:389px){
    .search-btn {
        padding: 6px !important;
        margin-right: 230px !important;
        margin-top: 15px !important;
        border-radius: 3px !important;
    }
}

@media only screen and (max-width: 576px){

.meals-item{
    display: grid;
    margin-left: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 10px;
}

#meal-details{
    margin-left: 30px;
    width: 280px;
}
#meal-details img{
     height: 220px;
     width:280px;
     border-radius: 5px;
}

#search{
    padding: 9px;
    width: 250px;
    margin-right: 40px !important;
    background-color: #F8F7F5;
    border-style: none;
}
}
@media only screen and (min-width: 576px) and (max-width:1024px){


.meals-item{
    display: grid;
    margin-left: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 10px;
}

}